{{#partial "contents"}}
<div class="issues__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <form action="/users" enctype="multipart/form-data" method="post">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
                <h4>Join Player</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                    <input class="mdl-textfield__input" type="text" id="userId" name="userId" required>
                    <label class="mdl-textfield__label" for="userId">User ID</label>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                    <input class="mdl-textfield__input" type="password" id="password" name="password" required>
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin:0 auto">
                    <input class="mdl-textfield__input" type="file" id="pic" name="pic">
                    <label class="mdl-textfield__label" for="pic">User Pic</label>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
                        style="margin:10px auto; width:200px;">Submit
                </button>
            </div>

        </form>
    </div>
</div>
{{/partial}}

{{>base}}