{{#partial "contents"}}
<div class="issues__posts mdl-grid">
    <div class="issues-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="height:80px;">
            <h2 class="mdl-card__title-text mdl-color-text--grey-800">Ranking</h2>
        </div>

        <div class="mdl-card__supporting-text">
            <ul class="issue-list mdl-list">

                {{#top10Users}}
                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a>
                                        <img class="mdl-list__item-avatar" height="48" width="48"
                                             src="/images/{{picture.fileIdWithExtension}}"
                                             alt="{{picture.originalFileName}}">
									</a>
									<a href="/users/{{id}}">
									    <strong>{{userId}}</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    Win Count : {{winCnt}}
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
                        {{@index_1}} 등
                    </span>
                </li>
                {{/top10Users}}


            </ul>
        </div>
    </div>
</div>
{{/partial}}

{{> base }}

