{{#partial "contents"}}
<div class="issues__posts mdl-grid">
    <div class="issues-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="height:80px;">
            <h2 class="mdl-card__title-text mdl-color-text--grey-800">Ranking</h2>
        </div>
        <a href="/issue/form.html"
           class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
            <i class="material-icons">add</i>
        </a>
        <div class="mdl-card__supporting-text">
            <ul class="issue-list mdl-list">


                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
                                              alt="javajigi">
									</a> 
									<a href="/issue/show.html">
									    <strong>testIssue</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #1 Open
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">javajigi</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="1">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars3.githubusercontent.com/u/22300?v=3&s=400" alt="전용우">
									</a> 
									<a href="/issue/show.html">
									    <strong>testIssue2</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #2
									    
										
											
											
											    Closed
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">전용우</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="1">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars1.githubusercontent.com/u/7744615?v=3&s=400" alt="신영">
									</a> 
									<a href="/issue/3">
									    <strong>testIssue3</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #3
									    
										
											
											
											    Closed
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">신영</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="1">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
                                              alt="javajigi">
									</a> 
									<a href="/issue/4">
									    <strong>testIssue4</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #4
									    
										
											
											    Open
											
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">javajigi</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="1">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars1.githubusercontent.com/u/7744966?v=3&u=1bd7d2e72800c0d5a1a5a2e04da851d30b3c13c7&s=140"
                                              alt="cca-company">
									</a> 
									<a href="/issue/5">
									    <strong>testIssue5</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #5
									    
										
											
											    Open
											
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">cca-company</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="0">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars3.githubusercontent.com/u/14341811?v=3&s=400"
                                              alt="진저애비">
									</a> 
									<a href="/issue/6">
									    <strong>testIssue6</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #6
									    
										
											
											
											    Closed
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">진저애비</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="0">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140"
                                              alt="javajigi">
									</a> 
									<a href="/issue/7">
									    <strong>testIssue7</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #7
									    
										
											
											    Open
											
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">javajigi</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="0">comment</span>
								</span>
                </li>

                <li class="mdl-list__item mdl-list__item--two-line">
								<span class="mdl-list__item-primary-content">
								    <a> 
								         <img class="mdl-list__item-avatar" height="48" width="48"
                                              src="https://avatars1.githubusercontent.com/u/7744966?v=3&u=1bd7d2e72800c0d5a1a5a2e04da851d30b3c13c7&s=140"
                                              alt="cca-company">
									</a> 
									<a href="/issue/8">
									    <strong>testIssue8</strong>
									</a>
									<span class="mdl-list__item-sub-title"> 
									    #8
									    
										
											
											    Open
											
											 
										
									    <relative-time datetime="2017-01-14"
                                                       title="2017-01-14">2017-01-14</relative-time>
									    by <a href="" aria-label="View all issues opened by javajigi"
                                              class="tooltipped tooltipped-s muted-link">cca-company</a>
									</span>
								</span>
                    <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="0">comment</span>
								</span>
                </li>


            </ul>
        </div>
    </div>
</div>
{{/partial}}

{{> base }}

