{{#partial "contents"}}
<div class="issues__posts mdl-grid">
    <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <form action="/newIssue" method="post">
            <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
                <i class="material-icons">check_circle</i>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%">
                    <input class="mdl-textfield__input" type="text" id="subject" name="subject" required>
                    <label class="mdl-textfield__label" for="subject">Subject</label>
                </div>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
                <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                            <textarea class="mdl-textfield__input" style="color:#888" type="text" rows="10" id="comment"
                                      name="comment" required></textarea>
                    <label class="mdl-textfield__label" for="comment">Comment</label>
                </div>
            </div>
            <div class="mdl-color-text--primary-contrast mdl-card__supporting-text">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"
                        style="margin:10px auto; width:200px;">Submit
                </button>
            </div>
        </form>
    </div>
</div>
{{/partial}}

{{> base }}