<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Issue Tracking System</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="issues issues--wrap mdl-layout mdl-js-layout has-drawer is-upgraded">

    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Issue Tracking System</span>
            <div class="mdl-layout-spacer"></div>
            <!-- Tabs -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Issues</a>
                <a class="mdl-navigation__link" href="/milestone/list.html">Milestones</a>
                <a class="mdl-navigation__link" href="/user/login.html">login</a>
                <a class="mdl-navigation__link" href="/user/join.html">join</a>
            </nav>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="issues-back">
            <a href="/" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back"
               role="button">
                <i class="material-icons" role="presentation">arrow_back</i>
            </a>
        </div>
        <div class="issues__posts mdl-grid">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__menu">
                    <a href="/updateIssue/1" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="/deleteIssue/1" id="issues-menu-lower-right"
                       class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
                <div class="mdl-card__title mdl-color-text--grey-50">
                    <i class="material-icons">check_circle</i>
                    <h2 class="mdl-card__title-text">testIssue #1</h2>
                </div>

                <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                    <img class="minilogo" height="48" width="48"
                         src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
                    <div style="margin-right:20px;">
                        <div class="author-text">
                            <strong>
                                <a href="https://github.com/javajigi" class="author">javajigi</a>
                            </strong>
                        </div>
                        <span>2017-01-14</span>
                    </div>
                    <a href="/issue/1/setOpen" class="mdl-button mdl-button--colored mdl-js-button">
                        Close issue
                    </a>

                    <div class="section-spacer"></div>

                    <button id="milestone-menu" class="mdl-button mdl-js-button">
                        Milestone
                    </button>
                    <!-- indianpoker list -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="milestone-menu">
                        <li class="mdl-menu__item mdl-button--accent">
                            <a href="/issue/1/setMilestone/0">Milestone1</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setMilestone/2">Milestone2</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setMilestone/3">Milestone3</a>
                        </li>
                    </ul>

                    <button id="label-menu" class="mdl-button mdl-js-button">
                        Label
                    </button>
                    <!-- label list -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="label-menu">
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setLabel/1">label1</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setLabel/2">label2</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setLabel/3">label3</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setLabel/4">label4</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setLabel/5">label5</a>
                        </li>
                    </ul>

                    <button id="assignee-menu" class="mdl-button mdl-js-button">
                        Assignee
                    </button>
                    <!-- label list -->
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="assignee-menu">
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setAssignee/1">javajigi</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setAssignee/2">cca-company</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setAssignee/3">진저애비</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setAssignee/4">신영</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/issue/1/setAssignee/5">전용우</a>
                        </li>
                    </ul>
                </div>
                <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                    <p>comment here!</p>
                </div>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">

                    <!-- comments start -->

                    <div class="comment mdl-color-text--grey-700">
                        <header class="comment__header">
                            <img class="comment__avatar2" height="48" width="48"
                                 src="https://avatars2.githubusercontent.com/u/520500?v=3&s=140" alt="javajigi">
                            <div class="comment__author">
                                <strong>
                                    <a>javajigi</a>


                                    <span>changed milestone 1 on 2017-01-14</span>


                                </strong>
                            </div>
                        </header>
                    </div>
                    <hr>


                    <div class="comment mdl-color-text--grey-700">
                        <header class="comment__header">
                            <img class="comment__avatar2" height="48" width="48"
                                 src="https://avatars1.githubusercontent.com/u/7744966?v=3&u=1bd7d2e72800c0d5a1a5a2e04da851d30b3c13c7&s=140"
                                 alt="cca-company">
                            <div class="comment__author">
                                <strong>
                                    <a>cca-company</a>


                                    <span>comment new issue! on 2017-01-14</span>


                                </strong>
                            </div>
                        </header>
                    </div>
                    <hr>


                    <div class="comment mdl-color-text--grey-700">
                        <header class="comment__header">
                            <img class="comment__avatar2" height="48" width="48"
                                 src="https://avatars3.githubusercontent.com/u/14341811?v=3&s=400" alt="진저애비">
                            <div class="comment__author">
                                <strong>
                                    <a>진저애비</a>


                                    upload file <a href="upload file" target="_blank">[view]</a>


                                </strong>
                            </div>
                        </header>
                    </div>
                    <hr>


                    <!-- comments end -->
                </div>
                <form action="/issue/1/uploadFile" enctype="multipart/form-data" method="POST">
                    <div style="margin:10px;">
                        <input type="file" name="file" id="file"/>
                        <button class="mdl-button" type="submit">upload file</button>
                    </div>
                </form>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-comment">
                    <form action="/issue/1/addComment" method="POST">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <textarea rows=5 class="mdl-textfield__input" id="comment" name="comment"></textarea>
                            <label for="comment" class="mdl-textfield__label">Leave a comment</label>
                        </div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo mdl-color-text--grey-600">Proudly powered by <a href="https://github.com/Byeol">Byeol</a>
                </div>
            </div>
        </footer>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>
